// Colors
$lightblue: #0593FB;
$blue:#2251CC;
$darkblue: #1a2246;
$grey: #666;
$lightgrey: #ccc;
$almostwhite: #f9f9f9;
$green:#06C847;
$purple:#653CAD;
// Styles
html {
    scroll-behavior: smooth;
}

body {
    * {
        //border: 1px solid $grey;
    }
    font-family: 'Lato',
    sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: $darkblue;
}

h2 {
    font-weight: bold;
    font-size: 1.5rem;
    color: $darkblue;
}

h3 {
    font-size: 1.3rem;
    color: $darkblue;
}

p,
li {
    font-size: 1rem;
}

a {
    color: $lightblue;
    //text-decoration: underline;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    width: 70vw;
    margin: auto;
    margin-top: 10vh;
    &>* {
        margin-bottom: 5rem;
    }
    @media (max-width: 1200px) {
        width: 80vw;
        margin-top: 5vh;
    }
}

.footer {
    background-color: $darkblue;
}

.hero {
    max-width: 600px;
    letter-spacing: 0.05em;
    * {
        margin-bottom: 2rem;
    }
    &__image {
        height: 120px;
        width: 120px;
        border-radius: 60px;
        border: 5px $lightgrey double;
    }
    &__title {}
    &__info {
        margin-bottom: 4rem;
        line-height: 1.5em;
        color: $grey;
    }
}

.skills {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    * {
        margin-bottom: 2rem;
    }
    &__title {
        flex-basis: 100%;
    }
    &__line {
        flex-basis: 100%;
        border-width: 0;
        border: 1px solid $lightgrey;
        background-color: $lightgrey;
        color: $lightgrey;
    }
    .skill {
        flex-basis: 50%;
        margin: 0 0 3rem 0;
        @media (max-width: 992px) {
            flex-basis: 100%;
            &:nth-child(2n+1) {
                margin: 0;
            }
        }
        &__line {
            width: 100px;
            height: 6px;
            text-align: left;
            margin-left: 0;
            border: none;
        }
        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            margin-top: 3rem;
            @media (max-width: 992px) {
                margin: 0;
            }
            li {
                color: $grey;
                display: block;
                flex-basis: 50%;
                @media (max-width: 576px) {
                    flex-basis: 100%;
                }
                &::before {
                    font-family: "Font Awesome 5 Free";
                    content: "\f058";
                    display: inline-block;
                    padding-right: 5px;
                    font-weight: 900;
                }
            }
        }
        &--workingKnowledge {
            hr {
                background-color: $green;
            }
            ul>li::before {
                color: $green;
            }
        }
        &--knowSomething {
            hr {
                background-color: $purple;
            }
            ul>li::before {
                color: $purple;
            }
        }
        &--wantToLearn {
            hr {
                background-color: $blue;
            }
            ul>li::before {
                color: $blue;
            }
        }
    }
}

.projects {
    //border: 1px red solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &>* {
        margin-bottom: 2rem;
    }
    &__title,
    &__info {
        flex-basis: 100%;
        width: 600px;
        line-height: 1.5em;
        @media (max-width: 992px) {
            text-align: center;
            width: 100%;
        }
        margin-bottom: 2rem;
    }
    p {
        color: $grey;
    }
    @media (max-width:992px) {
        justify-content: center;
    }
    .project {
        //border: 1px blue solid;
        flex-basis: 48%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 8px 10px 45px 0 rgba(0, 0, 0, .1);
        min-height: 18rem;
        &__logo {
            margin: 20px 0 0 20px;
        }
        &__name {
            margin: 0 20px;
        }
        &__description {
            margin: 0 20px;
            line-height: 1.5em;
            color: $grey;
        }
        &__links {
            padding: 20px;
            font-size: 1.2rem;
            margin-bottom: 0;
            text-align: right;
            background-color: $almostwhite;
        }
        @media (max-width: 992px) {
            flex-basis: 100%;
        }
    }
}

.contact {
    color: #fff;
    padding: 10vh 0;
    letter-spacing: 0.1rem;
    &__title {
        color: #fff;
    }
    &__info {}
    &__socials {
        font-size: 1.5rem;
        letter-spacing: 0.5rem;
        a {
            color: #fff;
        }
    }
    &__email {
        a {
            color: #fff;
        }
    }
    &>* {
        margin-bottom: 3rem;
    }
}